*{
  margin-top:2px;
}
body {
   
  background-image: url("../images/about\ us\ page.png");
   background-size: 100% 100%; 
    background-repeat: no-repeat;
  /* height:auto; */
 
}
.link-newStyle{
color: white !important;
font-size:20px !important;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-left:80px;
}
.another-style{
  color: white !important;
font-size:20px !important;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-left:5px;
}
.logo{
  width: 80px;
  height: 80px;
  margin-left: 40px;
}

.icon{
  display:flex;
  margin-right:60px ;
}
.icon-newStyle{
  color: white !important;
  font-size:25px !important;
    }

.content{
 
      width:80%;
     margin: auto;
      color: white;
      padding: 50px;
   }  
.content h1{
  
      text-align: center;
      font-size: 80px;
      font-family: 'Caveat', cursive;
      padding-bottom:30px;
   }   

   footer{
    /* margin-top: 150px; */
    background-color: rgb(1, 1, 17);
    padding-top:20px;
    /* height:60vh; */
  }
  footer h6 a{
    text-decoration: none !important;
    color: white;
   }
   footer h6 a:hover {
   color: rgb(231, 30, 30);
   font-size:17px;
   }
   
   footer .description{
     color:white;
     margin-top: 30px;
     margin-left: 130px;
   }
   footer .description p{
   font-weight: 100;
   font-size:15px;
   }
   footer .contact-us{
     margin-top:40px;
     padding:10px 0px 15px 0px  ;
     border-top:1px solid rgb(138, 132, 132);
     text-align: center;
   }
   footer .contact-us .icon-newStyle{
   color: white !important;
   padding-left: 15px;
   }
   footer .footer-logo{
       
     width: 80px;
         height: 80px;
         margin-left: 40px;
      
    
   }
/* @media (max-width:2000px) 
{ .content{
  margin-top:100px;
}
  footer{
    margin-top:300px;
  }
    
}
@media (max-width:1440px) 
{
  .content{
    margin-top:0px;
  }
  footer{
    margin-top:100px;
  }
    
}*/
@media (min-width:1440px) 
{ 
  .content{
  margin-top:100px;
}
  footer{
    margin-top:150px;
    height:50vh;
  }
    
} 
@media (max-width:768px) 
{
  .link-newStyle{
   
    margin-left:0px;
      }
     
    
      .content h1{
       
        font-size:50px;
        
     } 
    
    
}

@media (max-width:600px) 
{

    
  .link-newStyle{
   
    margin-left:0px;
      }
     
      .content{
        width: 100%;
        
      }

     .content h1{
       
        font-size:30px;
        
     } 
     .content p{
       
      font-size:10px;
      
   } 

   footer .description{
    margin-left:0px;
} 
  
}